<div qv-extension class="ng-scope" id="SenseUI-DropDown">
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			{{currentItem}}
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenu1">
			<li ng-repeat="item in items" ng-class="(item.qText===currentItem) ? 'active' : '' ">
				<a ng-click="select(this)">{{item.qText}}</a>
			</li>
		</ul>
	</div>

</div>